.Password {
    width: 175px;
    margin-right: 40px;
    font-size: 24px;
    margin-bottom: 20px;
    height: 60px;
}

.password-container {
    display: flex;
    flex-wrap: wrap;
    width: 215px;
    gap: 15px
}