.Password,
.correct,
.incorrect {
  width: 175px;
  margin-right: 40px;
  font-size: 24px;
  margin-bottom: 20px;
  height: 60px;
}

.correct {
  background: green;
  color: white;
  border-radius: 5px;
}

.incorrect {
  background: red;
  color: white;
  border-radius: 5px;
}

.password-container {
  display: flex;
  flex-wrap: wrap;
  width: 215px;
  gap: 15px;
}
